<launch>
  <!-- Arguments参数 -->
  <arg name="car_mode"  default="mini_mec" />
  <arg name="if_voice" default="false"/>
  <arg name="mode" default="test"/>
  
  <!-- 用于robot_state_publisher节点-->
  <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0 0 0 0 base_footprint base_link 100" />
  <group>
    <node pkg="tf" type="static_transform_publisher" name="map_red_to_camera_init" args="0 0 0 -1.57 0 0 map camera_init 100" /> 
  </group>
  

  <!--node pkg="tf" type="static_transform_publisher" name="map_red_to_camera_init" args="3.195 3.645 0 1.57 0 3.14 map camera_init 100" /--> 
   
  
  
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_blue_to_camera_init" args="21.8 8.1 0 1.57 0 0 map camera_init 100" />    -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_test_to_camera_init" args="0 0 0 -1.57 0 0 map camera_init 100" />    -->
  
  <!--坐标变换，需要实测 -->

  <!--麦轮系列 -->
  <!-- car_mode and tf  mini_mec-->
  <group if="$(eval car_mode == 'mini_mec')">
      <!-- 用于雷达节点，后面同理不再赘述-->
      <!--node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0 0 0 0 0 0 base_link livox_frame 100" /-->
      <node pkg="tf" type="static_transform_publisher" name="a123" args="0 0 0 -1.57 0 0 aft_mapped base_footprint 100" />
         <!--<node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0 0 0 1.57 0 3.14 base_footprint camera_init 100" /-->
      <!-- 用于摄像头相关节点，如3d建图导航，后面同理不再赘述-->
      <!-- <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0.00 -0.30 0.53 -3.14 0 -0.6457 base_footprint camera_init 10" /> -->
      <!-- <node pkg="tf" type="static_transform_publisher" name="base_to_gyro" args="0 0 0 0 0 0 vision_axes gyro_link 100" /> -->
  </group>
  

 
  <!-- URDF 标准化机器人描述格式 -->
 
  <!--麦轮系列 -->
  <group if="$(eval car_mode == 'mini_mec')">
      <param name = "robot_description" textfile = "$(find sentry_navigation)/urdf/mini_mec_robot.urdf"/> 
  </group>
  

  <!-- 读取urdf信息(robot_description) 发布话题：/joint_states-->
  <!-- <node unless="$(eval (car_mode=='mini_mec_moveit_six' or car_mode=='mini_4wd_moveit_six') and if_voice==true)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />-->
  <!-- 订阅话题：/joint_states，发布小车TF信息-->
  <!-- <node unless="$(eval (car_mode=='mini_mec_moveit_six' or car_mode=='mini_4wd_moveit_six') and if_voice==true)" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />-->

 </launch>


